.header{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(119, 119, 119);
}

.header-logo{
    width: 100px;
}

.title{
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(95, 95, 95);
    font-size: 1.3rem;
}

.section{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: auto;
    
}

.decode{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.text-field{
    height: 150px;
    margin-bottom: 20px;
    border-radius: 10px;
    
    
}

.text-area{
    border-radius: 10px;
}

.code{
    display: flex;
    flex-direction: column;
}

.decode-button{
    margin-top: 20px;
}

.footer{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(95, 95, 95);
}